html {
  font-size: calc(100vw / 1440 * 10);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "case" on;
}

// resets
body {
  font-family: "Suisse", sans-serif;
  overscroll-behavior: none;
  height: 100vh;
  overflow: hidden;
  text-transform: uppercase;
  color: $orange;
  font-size: 16px;
  background: $black;
  line-height: 1.35;
  letter-spacing: 0.015em;
  font-feature-settings: "case" on;
}

.word {
  display: inline-flex;
  overflow: hidden;

  span {
    display: inline-block;
    transform: translateY(100%);
    animation: word 1s $ease-out-expo 0.2s forwards;
  }

  &:nth-of-type(2) {
    span {
      animation-delay: 0.3s;
    }
  }
}

@keyframes word {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
