%full-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-home {
  &__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
  }

  &__title {
    position: absolute;
    bottom: 32px;
    left: 40px;

    h1 {
      font-weight: 600;
      font-size: 80px;
      line-height: 100%;
      text-align: right;
      letter-spacing: -0.025em;
    }
  }

  &__look {
    position: absolute;
    top: 10px;
    left: 8px;
    text-align: center;
    opacity: 0;
    animation: show 1s $ease-out-expo 0.25s forwards;

    &__label {
      @extend %label;
      margin-bottom: 8px;
    }

    &__number {
      @extend %serif;
    }
  }

  &__cast {
    position: absolute;
    text-align: center;
    right: 40px;
    bottom: 44px;
    opacity: 0;
    animation: show 1s $ease-out-expo 0.7s forwards;

    &__label {
      @extend %label;
      margin-bottom: 8px;
    }

    &__act {
      @extend %serif;

      span {
        font-feature-settings: "ss01" on;
      }
    }
  }

  &__logo {
    position: absolute;
    right: 77px;
    top: 40px;
  }

  .c-look {
    @extend %full-content;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s $ease-out-expo;

    .c-product {
      transition: transform 1s $ease-out-expo;
      transform: scale(0.8);
    }

    &--1 {
      display: flex;
      align-items: flex-start;
      padding-top: 24px;
      padding-left: 24px;

      .c-product {
        position: relative;

        &:first-of-type {
        }
      }
    }

    &--2 {
      .c-product {
        position: absolute;

        &:first-of-type {
          position: absolute;
          top: 0;
          left: 0;
        }

        &:last-of-type {
          position: absolute;
          top: 50%;
          transform: scale(0.8) translateY(-50%);
          right: 180px;
        }
      }

      &.active {
        .c-product {
          &:last-of-type {
            transform: scale(1) translateY(-50%);
          }
        }
      }
    }

    &--3 {
      display: flex;
      align-items: flex-start;
      padding-top: 24px;
      padding-left: 24px;

      .c-product {
        position: relative;
        &:first-of-type {
        }
      }
    }

    &.active {
      opacity: 1;
      pointer-events: auto;

      .c-product {
        transform: scale(1);
      }
    }
  }

  .c-product {
    max-width: 360px;
    width: 100%;
    padding: 16px;
    text-align: center;
    cursor: pointer;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &__bg {
      position: absolute;
      @extend %full-content;
      opacity: 0;
      pointer-events: none;
      z-index: -1;
    }

    &__title {
    }

    &__image {
      max-width: 280px;
      aspect-ratio: 1/1;
      margin: 0 auto;
      display: flex;
    }

    &:hover {
      .c-product__bg {
        opacity: 1;
      }
    }
  }
}
